.content-container{
    display: flex;
    flex-wrap: wrap;
    height: 91vh
}

.textDiv {
    align-items: center;
    align-content: center;
    background-color: #24252E;
    color: #FFFFFF;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 2;
    display: flex;
    justify-content: center;
    width: 50%;
}

.content{
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content a{
    display: flex;
    align-items: center;
}
.icon{
    width: 25px;
    border-radius: 100%;;
}
.linksDiv {
    align-items: center;
    background-color: #FFFFFF;
    color: #24252E;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 2;
}
.fakeButton{
    align-items: center;
    background-color: rgb(179, 179, 179);
    border: solid 1px black;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    margin: 5px;
    width: 30vw;
}
.fakeButton:hover{
    background-color: #0094FC;
    color: #FFFFFF;
}
.fakeButton a{
    color: inherit;
}
img{
    width: 30%;
}