.content-container{
    display: flex;
    flex-wrap: wrap;
    height: 91vh
}

.textDiv {
    align-items: center;
    align-content: center;
    background-color: #24252E;
    color: #FFFFFF;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 2;
    display: flex;
    justify-content: center;
    width: 50%;
}

.inputsDiv {
    align-items: center;
    background-color: #FFFFFF;
    color: #24252E;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 2;
}

.inputFieldDiv{
    display: flex;
    flex-direction: column;
}

.submitButton{
    color: #0094FC;
    background-color: #FFFFFF;
    font-weight: bolder;
    border: 1.5px solid grey;
    border-radius: 5px;
}

.submitButton:hover {
    cursor: pointer;
}

input{
    margin: 5px;
}

label {
    margin-left: 7px;
}

p{
    margin: 0 50px; 
}

form{
    display: flex;
    align-items: flex-end;
}
