.navbar{
  background-color: #0094FC;
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  height: 9vh;
  justify-content: space-between;
}
.navbar li{
  margin-right: 30px;
}

.headerText {
  color: #FFFFFF;
  font-size: x-large;
}

.column {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.navbar li:first-child{
  margin-right: 50vw;
  margin-left: 5%;
}
.navbar li:first-child:hover{
  text-decoration: none;
}
.navbar li:hover{
  text-decoration: underline;
}
