@import url('https://use.typekit.net/skh5uvo.css');
body, input {
  margin: 0;
  font-family: ibm-plex-sans, sans-serif;
}

h1{
  color: #0094FC;
  font-size: xx-large;
}

a{
  text-decoration: none;
  color: #24252E;
}

ul {
  list-style: none;
  padding-left: 0px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input{
  margin: 5px;
}
label {
  margin-left: 7px;
}
img{
  width: 30%;
}
p{
  margin: 0 50px;
}
form{
  display: flex;
  align-items: flex-end;
}